certifi==2019.3.9
chardet==3.0.4
Click==7.0
et-xmlfile==1.0.1
Flask==1.0.2
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.10.1
jsonschema==2.6.0
MarkupSafe==1.1.1
numpy==1.16.2
openpyxl==2.5.0
pandas==0.24.2
petl==1.2.0
pymongo==3.7.2
pymssql==2.1.4
PyMySQL==0.9.3
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
scikit-learn==0.19.0
scipy==1.2.1
simplejson==3.16.0
six==1.12.0
SQLAlchemy==1.3.2
urllib3==1.24.1
Werkzeug==0.15.2
lightgbm==2.2.3
xlrd==1.2.0
# impyte==0.1.0
xgboost==0.82
GetOldTweets3==0.0.9
googletrans==2.4.0
vaderSentiment==3.2.1
imgurpython==1.1.7
matplotlib==2.2.2
statsmodels==0.9.0
patsy==0.5.1
pyramid-arima==0.9.0